COMPOSE_PROJECT_NAME=tools
DATA_ROOT_DIR=${HOME}/tools

# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=example.com
# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=admin@example.com

# The subdomain to serve from
# Do not use n8n as a subdomain
# it may cause false positives dangerous site detection by browsers
# due to the n8n.io domain being used for phishing attacks in the past
N8N_SUBDOMAIN=workflows
AI_SUBDOMAIN=ai
WORKSPACE_SUBDOMAIN=workspace

# Postgres database configuration
# use POSTGRES_DATABASES to setup multiple database at container creation
# Example:
# POSTGRES_DATABASES=n8ndb_u1:n8ndbpass@n8ndb,affinedb_u1:affinedbpass@affinedb
POSTGRES_DATABASES=<dbuser1>:<dbpassword1>@<dbname1>,<dbuser2>:<dbpassword2>@<dbname2>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_HOSTNAME=postgres
POSTGRES_PORT=5432

# MySQL database configuration
MYSQL_ROOT_PASSWORD=<MYSQL_ROOT_PASSWORD>
MYSQL_DATABASE=<MYSQL_DATABASE>
MYSQL_USER=<MYSQL_USER>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_PORT=3306

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Paris

# OpenWebUI configuration
OPENWEBUI_SUBDOMAIN=webui
OPENWEBUI_PORT=8080
OPENWEBUI_SECRET=change_me_random_string

# Redis configuration
REDIS_PORT=6379

# Affine configuration
AFFINE_SUBDOMAIN=workspaces
AFFINE_PORT=3010

# Affine database connection details
AFFINE_DATABASE_TYPE=postgres
AFFINE_POSTGRESDB_DATABASE=affinedb
AFFINE_POSTGRESDB_SCHEMA=public
AFFINE_POSTGRESDB_USER=affinedb_u1
AFFINE_POSTGRESDB_PASSWORD=<AFFINE_POSTGRESDB_PASSWORD>
